In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
import re
import pickle
# %matplotlib inline

In [37]:
with open('../data/datafest2018NewApril6.pickle', 'rb') as handle:
    df = pickle.load(handle)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17635296 entries, 0 to 17635295
Data columns (total 28 columns):
date                          datetime64[ns]
companyId                     object
jobId                         object
country                       object
stateProvince                 object
city                          object
avgOverallRating              float64
numReviews                    float64
industry                      object
normTitle                     object
normTitleCategory             object
descriptionCharacterLength    int64
descriptionWordCount          int64
experienceRequired            float64
estimatedSalary               float64
salaryCurrency                object
jobLanguage                   object
supervisingJob                float64
licenseRequiredJob            float64
educationRequirement          object
jobAgeDays                    int64
clicks                        int64
localClicks                   float64
month                         int64
day                           int64
numReview_log                 float64
clicks_log                    float64
localClicks_log               float64
dtypes: datetime64[ns](1), float64(10), int64(6), object(11)
memory usage: 3.7+ GB

In [38]:
## Industry lookup table
indus = pd.read_csv('../data/predicted_industries.csv')
indus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13927 entries, 0 to 13926
Data columns (total 2 columns):
companyId        13927 non-null object
industry_pred    13927 non-null object
dtypes: object(2)
memory usage: 217.7+ KB

In [18]:
df.loc[:, ['companyId', 'industry']]

             companyId     industry
0         company00090          NaN
1        company198537          NaN
2         company16408          NaN
3         company42051          NaN
4         company11874  HEALTH_CARE
5         company26118          NaN
6         company10962          NaN
7        company182439          NaN
8        company100952          NaN
9         company39530          NaN
10        company35543          NaN
11        company48084          NaN
12        company00003          NaN
13        company06862          NaN
14       company125969          NaN
15       company123028          NaN
16        company43209          NaN
17        company02790          NaN
18        company31685          NaN
19       company126990          NaN
20        company28133          NaN
21        company29170          NaN
22        company00870          NaN
23        company30531          NaN
24       company119348          NaN
25        company79240          NaN
26        company00233          NaN
27        company27646          NaN
28        company00090          NaN
29        company18861          NaN
...                ...          ...
1763500   company04203       RETAIL
1763501  company241969          NaN
1763502   company03979          NaN
1763503   company06069          NaN
1763504   company12431          NaN
1763505   company00535          NaN
1763506   company53205          NaN
1763507   company04705          NaN
1763508   company67754          NaN
1763509   company17170          NaN
1763510   company56210          NaN
1763511   company40978          NaN
1763512   company13373          NaN
1763513   company00703  HEALTH_CARE
1763514   company01370          NaN
1763515   company46248          NaN
1763516   company29087          NaN
1763517   company96230          NaN
1763518  company101609          NaN
1763519   company01962          NaN
1763520   company01016          NaN
1763521   company05341          NaN
1763522   company30881          NaN
1763523   company24352          NaN
1763524   company02936         AUTO
1763525   company60730          NaN
1763526  company201900          NaN
1763527   company04705          NaN
1763528   company00626  HEALTH_CARE
1763529   company28470          NaN

[1763530 rows x 2 columns]

In [39]:
indus.head()
print('There are {} unique companies and {} unique industries'.format(len(indus.companyId.unique()), len(indus.industry_pred.unique())))

      companyId                     industry_pred
0  company00003                            RETAIL
1  company00017                         INSURANCE
2  company00025                            RETAIL
3  company00036                            RETAIL
4  company00037  CONSULTING_AND_BUSINESS_SERVICES

There are 13927 unique companies and 22 unique industries

In [42]:
%%time
dff = pd.merge(df.loc[:,['companyId', 'industry']], indus, how='left', on='companyId')
# dff.head(10)

CPU times: user 12.3 s, sys: 5.58 s, total: 17.9 s
Wall time: 18.4 s

In [43]:
mask = dff.industry.isnull()
dff.industry[mask] = dff.industry_pred[mask]
mask2 = dff.industry.isnull()
dff.industry[mask2] = 'UNCLASSIFIED'

In [44]:
dff.industry.value_counts(dropna=False)

UNCLASSIFIED                                                                                   12711318
HEALTH_CARE                                                                                     1216778
RETAIL                                                                                           967329
CONSULTING_AND_BUSINESS_SERVICES                                                                 587972
RESTAURANTS_TRAVEL_AND_LEISURE                                                                   491095
EDUCATION_AND_SCHOOLS                                                                            293077
BANKS_AND_FINANCIAL_SERVICES                                                                     245072
HUMAN_RESOURCES_AND_STAFFING                                                                     241104
INTERNET_AND_SOFTWARE                                                                            121440
AUTO                                                                                             106273
INDUSTRIAL_MANUFACTURING                                                                          80191
FOOD_AND_BEVERAGES                                                                                70796
TRANSPORT_AND_FREIGHT                                                                             69598
GOVERNMENT                                                                                        48327
CONSTRUCTION                                                                                      47400
INSURANCE                                                                                         43900
ORGANIZATION                                                                                      40259
CONSUMER_GOODS_AND_SERVICES                                                                       39045
REAL_ESTATE                                                                                       29285
AEROSPACE_AND_DEFENSE                                                                             28457
ENERGY_AND_UTILITIES                                                                              22291
TELECOMMUNICATIONS                                                                                17920
MEDIA_NEWS_AND_PUBLISHING                                                                         12808
AGRICULTURE_AND_EXTRACTION                                                                         8916
COMPUTERS_AND_ELECTRONICS                                                                          7760
CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING                                      5551
EDUCATION_AND_SCHOOLS,HEALTH_CARE                                                                  5490
PHARMACEUTICALS                                                                                    5195
CONSUMER_GOODS_AND_SERVICES,RETAIL                                                                 4228
CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE                                                       3865
                                                                                                 ...
GOVERNMENT,INTERNET_AND_SOFTWARE,ORGANIZATION                                                        22
GOVERNMENT,CONSTRUCTION                                                                              21
MEDIA_NEWS_AND_PUBLISHING,AUTO                                                                       21
INDUSTRIAL_MANUFACTURING,COMPUTERS_AND_ELECTRONICS                                                   21
CONSULTING_AND_BUSINESS_SERVICES,FOOD_AND_BEVERAGES                                                  19
AGRICULTURE_AND_EXTRACTION,INTERNET_AND_SOFTWARE                                                     19
BANKS_AND_FINANCIAL_SERVICES,MEDIA_NEWS_AND_PUBLISHING,RETAIL                                        19
COMPUTERS_AND_ELECTRONICS,ENERGY_AND_UTILITIES                                                       18
ENERGY_AND_UTILITIES,COMPUTERS_AND_ELECTRONICS                                                       16
FOOD_AND_BEVERAGES,INDUSTRIAL_MANUFACTURING,MEDIA_NEWS_AND_PUBLISHING                                15
GOVERNMENT,INTERNET_AND_SOFTWARE                                                                     14
CONSUMER_GOODS_AND_SERVICES,ORGANIZATION                                                             13
INTERNET_AND_SOFTWARE,TRANSPORT_AND_FREIGHT                                                          13
COMPUTERS_AND_ELECTRONICS,INTERNET_AND_SOFTWARE                                                      13
RETAIL,COMPUTERS_AND_ELECTRONICS                                                                     12
ENERGY_AND_UTILITIES,HUMAN_RESOURCES_AND_STAFFING                                                    12
CONSULTING_AND_BUSINESS_SERVICES,AEROSPACE_AND_DEFENSE                                               11
CONSULTING_AND_BUSINESS_SERVICES,AGRICULTURE_AND_EXTRACTION                                          10
INTERNET_AND_SOFTWARE,TELECOMMUNICATIONS                                                             10
FOOD_AND_BEVERAGES,BANKS_AND_FINANCIAL_SERVICES                                                      10
BANKS_AND_FINANCIAL_SERVICES,ORGANIZATION                                                             9
MEDIA_NEWS_AND_PUBLISHING,COMPUTERS_AND_ELECTRONICS                                                   9
BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES,MEDIA_NEWS_AND_PUBLISHING               6
COMPUTERS_AND_ELECTRONICS,INDUSTRIAL_MANUFACTURING,INTERNET_AND_SOFTWARE,TELECOMMUNICATIONS           5
REAL_ESTATE,AUTO                                                                                      5
HUMAN_RESOURCES_AND_STAFFING,CONSTRUCTION                                                             5
AEROSPACE_AND_DEFENSE,HUMAN_RESOURCES_AND_STAFFING                                                    3
CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE,HUMAN_RESOURCES_AND_STAFFING                             3
AUTO,REAL_ESTATE                                                                                      2
BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING            2
Name: industry, Length: 206, dtype: int64

In [45]:
sum(dff.industry == 'UNCLASSIFIED')/len(dff)

0.7207884687617379

In [47]:
dff.head(50)

,companyId,industry,industry_pred
0,company00000,UNCLASSIFIED,NaN
1,company00001,HEALTH_CARE,NaN
2,company00002,UNCLASSIFIED,NaN
3,company00003,RETAIL,RETAIL
4,company00004,UNCLASSIFIED,NaN
5,company00005,UNCLASSIFIED,NaN
6,company00006,UNCLASSIFIED,NaN
7,company00007,UNCLASSIFIED,NaN
8,company00008,UNCLASSIFIED,NaN
9,company00009,UNCLASSIFIED,NaN
10,company00010,UNCLASSIFIED,NaN
11,company00011,UNCLASSIFIED,NaN
12,company00012,UNCLASSIFIED,NaN
13,company00013,UNCLASSIFIED,NaN
14,company00014,UNCLASSIFIED,NaN
15,company00015,UNCLASSIFIED,NaN
16,company00016,UNCLASSIFIED,NaN
17,company00017,INSURANCE,INSURANCE
18,company00018,UNCLASSIFIED,NaN
19,company00019,HEALTH_CARE,NaN
20,company00020,UNCLASSIFIED,NaN
21,company00021,UNCLASSIFIED,NaN
22,company00022,UNCLASSIFIED,NaN
23,company00023,UNCLASSIFIED,NaN
24,company00024,HEALTH_CARE,NaN
25,company00025,RETAIL,RETAIL
26,company00026,UNCLASSIFIED,NaN
27,company00027,UNCLASSIFIED,NaN
28,company00028,HEALTH_CARE,NaN
29,company00029,UNCLASSIFIED,NaN
30,company00030,UNCLASSIFIED,NaN
31,company00031,UNCLASSIFIED,NaN
32,company00032,UNCLASSIFIED,NaN
33,company00033,UNCLASSIFIED,NaN
34,company00034,UNCLASSIFIED,NaN
35,company00035,UNCLASSIFIED,NaN
36,company00036,RETAIL,RETAIL
37,company00037,CONSULTING_AND_BUSINESS_SERVICES,CONSULTING_AND_BUSINESS_SERVICES
38,company00038,UNCLASSIFIED,NaN
39,company00039,UNCLASSIFIED,NaN
40,company00040,HEALTH_CARE,HEALTH_CARE
41,company00041,UNCLASSIFIED,NaN
42,company00042,UNCLASSIFIED,NaN
43,company00043,UNCLASSIFIED,NaN
44,company00044,UNCLASSIFIED,NaN
45,company00045,UNCLASSIFIED,NaN
46,company00046,UNCLASSIFIED,NaN
47,company00047,RETAIL,RETAIL
48,company00048,UNCLASSIFIED,NaN
49,company00049,UNCLASSIFIED,NaN

In [48]:
df.industry = dff.industry
df.industry.value_counts()

UNCLASSIFIED                                                                                   12711318
HEALTH_CARE                                                                                     1216778
RETAIL                                                                                           967329
CONSULTING_AND_BUSINESS_SERVICES                                                                 587972
RESTAURANTS_TRAVEL_AND_LEISURE                                                                   491095
EDUCATION_AND_SCHOOLS                                                                            293077
BANKS_AND_FINANCIAL_SERVICES                                                                     245072
HUMAN_RESOURCES_AND_STAFFING                                                                     241104
INTERNET_AND_SOFTWARE                                                                            121440
AUTO                                                                                             106273
INDUSTRIAL_MANUFACTURING                                                                          80191
FOOD_AND_BEVERAGES                                                                                70796
TRANSPORT_AND_FREIGHT                                                                             69598
GOVERNMENT                                                                                        48327
CONSTRUCTION                                                                                      47400
INSURANCE                                                                                         43900
ORGANIZATION                                                                                      40259
CONSUMER_GOODS_AND_SERVICES                                                                       39045
REAL_ESTATE                                                                                       29285
AEROSPACE_AND_DEFENSE                                                                             28457
ENERGY_AND_UTILITIES                                                                              22291
TELECOMMUNICATIONS                                                                                17920
MEDIA_NEWS_AND_PUBLISHING                                                                         12808
AGRICULTURE_AND_EXTRACTION                                                                         8916
COMPUTERS_AND_ELECTRONICS                                                                          7760
CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING                                      5551
EDUCATION_AND_SCHOOLS,HEALTH_CARE                                                                  5490
PHARMACEUTICALS                                                                                    5195
CONSUMER_GOODS_AND_SERVICES,RETAIL                                                                 4228
CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE                                                       3865
                                                                                                 ...
GOVERNMENT,INTERNET_AND_SOFTWARE,ORGANIZATION                                                        22
GOVERNMENT,CONSTRUCTION                                                                              21
MEDIA_NEWS_AND_PUBLISHING,AUTO                                                                       21
INDUSTRIAL_MANUFACTURING,COMPUTERS_AND_ELECTRONICS                                                   21
CONSULTING_AND_BUSINESS_SERVICES,FOOD_AND_BEVERAGES                                                  19
AGRICULTURE_AND_EXTRACTION,INTERNET_AND_SOFTWARE                                                     19
BANKS_AND_FINANCIAL_SERVICES,MEDIA_NEWS_AND_PUBLISHING,RETAIL                                        19
COMPUTERS_AND_ELECTRONICS,ENERGY_AND_UTILITIES                                                       18
ENERGY_AND_UTILITIES,COMPUTERS_AND_ELECTRONICS                                                       16
FOOD_AND_BEVERAGES,INDUSTRIAL_MANUFACTURING,MEDIA_NEWS_AND_PUBLISHING                                15
GOVERNMENT,INTERNET_AND_SOFTWARE                                                                     14
CONSUMER_GOODS_AND_SERVICES,ORGANIZATION                                                             13
INTERNET_AND_SOFTWARE,TRANSPORT_AND_FREIGHT                                                          13
COMPUTERS_AND_ELECTRONICS,INTERNET_AND_SOFTWARE                                                      13
RETAIL,COMPUTERS_AND_ELECTRONICS                                                                     12
ENERGY_AND_UTILITIES,HUMAN_RESOURCES_AND_STAFFING                                                    12
CONSULTING_AND_BUSINESS_SERVICES,AEROSPACE_AND_DEFENSE                                               11
CONSULTING_AND_BUSINESS_SERVICES,AGRICULTURE_AND_EXTRACTION                                          10
INTERNET_AND_SOFTWARE,TELECOMMUNICATIONS                                                             10
FOOD_AND_BEVERAGES,BANKS_AND_FINANCIAL_SERVICES                                                      10
BANKS_AND_FINANCIAL_SERVICES,ORGANIZATION                                                             9
MEDIA_NEWS_AND_PUBLISHING,COMPUTERS_AND_ELECTRONICS                                                   9
BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES,MEDIA_NEWS_AND_PUBLISHING               6
COMPUTERS_AND_ELECTRONICS,INDUSTRIAL_MANUFACTURING,INTERNET_AND_SOFTWARE,TELECOMMUNICATIONS           5
REAL_ESTATE,AUTO                                                                                      5
HUMAN_RESOURCES_AND_STAFFING,CONSTRUCTION                                                             5
AEROSPACE_AND_DEFENSE,HUMAN_RESOURCES_AND_STAFFING                                                    3
CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE,HUMAN_RESOURCES_AND_STAFFING                             3
AUTO,REAL_ESTATE                                                                                      2
BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING            2
Name: industry, Length: 206, dtype: int64

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17635296 entries, 0 to 17635295
Data columns (total 28 columns):
date                          datetime64[ns]
companyId                     object
jobId                         object
country                       object
stateProvince                 object
city                          object
avgOverallRating              float64
numReviews                    float64
industry                      object
normTitle                     object
normTitleCategory             object
descriptionCharacterLength    int64
descriptionWordCount          int64
experienceRequired            float64
estimatedSalary               float64
salaryCurrency                object
jobLanguage                   object
supervisingJob                float64
licenseRequiredJob            float64
educationRequirement          object
jobAgeDays                    int64
clicks                        int64
localClicks                   float64
month                         int64
day                           int64
numReview_log                 float64
clicks_log                    float64
localClicks_log               float64
dtypes: datetime64[ns](1), float64(10), int64(6), object(11)
memory usage: 3.7+ GB

In [50]:
%%time 
with open('../data/datafest2018NewApril6-indus.pickle', 'wb') as f:
    # Pickle the 'data' dictionary using the highest protocol available.
    pickle.dump(df, f, pickle.HIGHEST_PROTOCOL)

CPU times: user 30.9 s, sys: 1min 1s, total: 1min 32s
Wall time: 1min 56s